<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- Ghi log JSON ra file rolling -->
    <appender name="ROLLING_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">

            <fileNamePattern>logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <maxFileSize>10MB</maxFileSize>

            <maxHistory>30</maxHistory>

        </rollingPolicy>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"user-service"}</customFields>
        </encoder>

    </appender>


    <!-- Gửi log JSON qua TCP tới Logstash -->
    <appender name="LOGSTASH"
              class="net.logstash.logback.appender.LogstashTcpSocketAppender">

        <destination>localhost:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"user-service"}</customFields>
        </encoder>

    </appender>


    <root level="INFO">
        <appender-ref ref="ROLLING_FILE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

</configuration>
